
.card{
    
    position: relative;
    --this-border-radius: 1rem;
    border-radius: var(--this-border-radius);
    --top-color-base: var(--lighter-dark);
    --top-color-hover: var(--sam-green);
    --bottom-color-base: var(--sam-pink);
    --bottom-color-hover: var(--sam-pink);
    --backOpacity: 0;
    transition-property: padding-left, margin-left, padding-right, margin-right;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
    background-image: url("./assets/HeartBackgroundDarkerBlurred.png");
    background-size: 200px;
    background-repeat: repeat;
}

.card:hover{
    --backOpacity: 1;
}

.card::before{
    --gradWidth: 6px;
    content: "";
    position: absolute;
    left: calc(-1 * var(--gradWidth)/2);
    top: calc(-1 * var(--gradWidth)/2);
    width: calc(100% + var(--gradWidth));
    height: calc(100% + var(--gradWidth));
    border-radius: calc(var(--this-border-radius) + var(--gradWidth) / 2);
    background: linear-gradient(180deg, var(--top-color-base) 0%, var(--bottom-color-base) 100%);
    z-index: -2;
}

.card::after{
    --gradWidth: 6px;
    content: "";
    position: absolute;
    left: calc(-1 * var(--gradWidth)/2);
    top: calc(-1 * var(--gradWidth)/2);
    width: calc(100% + var(--gradWidth));
    height: calc(100% + var(--gradWidth));
    border-radius: calc(var(--this-border-radius) + var(--gradWidth) / 2);
    background: linear-gradient(180deg, var(--top-color-hover) 0%, var(--bottom-color-hover) 100%);
    z-index: -1;
    opacity: var(--backOpacity);
    transition: opacity 0.25s;
}

.card-holder{
    width: 100%;
    position: relative;
    display: grid;
    grid-auto-flow: row;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
}

/* 

d8888b. d8888b.  .d88b.     d88b d88888b  .o88b. d888888b       .o88b.  .d8b.  d8888b. d8888b.
88  `8D 88  `8D .8P  Y8.    `8P' 88'     d8P  Y8 `~~88~~'      d8P  Y8 d8' `8b 88  `8D 88  `8D
88oodD' 88oobY' 88    88     88  88ooooo 8P         88         8P      88ooo88 88oobY' 88   88
88~~~   88`8b   88    88     88  88~~~~~ 8b         88         8b      88~~~88 88`8b   88   88
88      88 `88. `8b  d8' db. 88  88.     Y8b  d8    88         Y8b  d8 88   88 88 `88. 88  .8D
88      88   YD  `Y88P'  Y8888P  Y88888P  `Y88P'    YP          `Y88P' YP   YP 88   YD Y8888D'

*/

.card-container-wrapper{
    container: card / inline-size;
    width: 93%;
}

.project-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    transition-duration: 250ms;
    transition-property: width, margin;
    text-decoration: none;
    margin-bottom: 2rem;
    margin-left: 0;
    width: 100%;
    height: min-content;
    min-height: 95%;
    display: flex;
    flex-direction: column;
    align-items:center;
}


.project-card:hover{
    width: calc(100% + 1rem);
    margin-left: -0.5rem;
}

.proj-card-keyart-holder{
    width: 100%;
    border-radius: inherit;
    overflow: hidden;
    max-height: 35cqh;
    display: grid;
    justify-content: center;
}

.project-card-keyart{
    width: calc(100cqw + 1rem);
    position: relative;
    border-radius: inherit;
    object-fit: cover;
    transition-duration: inherit;
    transition: inherit;
}

.project-card-icon{
    width: 6rem;
    border-radius: 10%;
    box-shadow: 0 0 1rem -0.2rem var(--sam-green);
    margin-top: 2rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    margin-bottom: 0.5rem;
    transition-duration: inherit;
    transition-property: width, margin;
}

.project-card:hover .project-card-icon{
    width: 6.5rem;
    margin-bottom: 0.25rem;
    margin-top: 1.75rem;
    margin-left:  0rem;
    margin-right: 0rem;
}

.project-card-body{
    width: 100cqw;
    margin:0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-card-title{
    min-width: 80%;
    max-width: 90%;
    margin-top: 0.5em;
    font-size: 2em;
    padding-bottom: 0.1em;
    border-bottom: solid var(--pale-pink);
    text-align: center;
}

.project-card-summary{
    margin-top: 0.5em;
    text-align: left;
    max-width: calc(85cqw);
    margin-bottom: 0.5em;
    transition-duration: 250ms;
    transition-property: margin, padding, max-width;
}

.post-holder{
    width: 100%;
    position: relative;
    display: grid;
    grid-auto-flow: row;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr))
}

.project-card-date{
    margin: 0;
}

.post-holder .card{
    height: min-content;
    min-height: 95%;
}