/* Lovely Night 80s Theme */
:root{
    --ln-D1-purple:#D9D9D9;
    --ln-D2-purple:#8574A6;
    --ln-D3-purple:#47366B;
    --ln-D4-purple:#312152;
    --ln-D5-purple:#1E1433;
    --ln-D6-purple:#120C1F;

    --ln-red: #FF8C8E;
    --ln-orange: #FFAC80;
    --ln-yellow: #FFEA80;
    --ln-green: #8AE599;
    --ln-cyan: #73E5E5;
    --ln-blue: #7399E5;
    --ln-pink: #E391E5;
}

.hljs {
    display: block;
    overflow-x: auto;
    text-wrap: wrap;
    padding: 0.5em;
    box-shadow: 0 0 0.5rem 0rem var(--ln-cyan);
    --sel-back: var(--ln-D2-purple);
  }

code.hljs{
    font-size: 0.8em;
}

code.hljs *{
    font-size: inherit;
    color: var(--ln-D1-purple);
}
  
  .hljs-built_in,
  .hljs-selector-tag,
  .hljs-section,
  .hljs-link {
    color: var(--ln-blue) !important;
  }
  
  .hljs-keyword {
    color: var(--ln-pink) !important;
  }

  .hljs-params{
    color: var(--ln-orange) !important;
  }
  
  .hljs,
  .hljs-subst {
    color: var(--ln-D1-purple) !important;
  }
  
  .hljs-title,
  .hljs-attr,
  .hljs-meta-keyword {
    color: var(--ln-blue) !important;
  }

  .hljs-string{
    color: var(--ln-green) !important;
  }
  
  .hljs-meta,
  .hljs-name,
  .hljs-type,
  .hljs-symbol,
  .hljs-bullet,
  .hljs-addition,
  .hljs-variable,
  .hljs-template-tag,
  .hljs-template-variable {
    color: var(--ln-pink) !important;
  }

  .hljs-property {
    color: var(--ln-yellow) !important;
  }
  
  .hljs-comment,
  .hljs-quote,
  .hljs-deletion {
    color: var(--ln-D2-purple) !important;
  }
  
  .hljs-keyword,
  .hljs-selector-tag,
  .hljs-literal,
  .hljs-title,
  .hljs-section,
  .hljs-doctag,
  .hljs-type,
  .hljs-name,
  .hljs-strong {
    font-weight: bold;
  }
  
  .hljs-literal,
  .hljs-number {
    color: var(--ln-orange) !important;
  }
  
  .hljs-emphasis {
    font-style: italic;
  }