/* Lovely Night 80s Theme */
:root{
    --ln-D1-purple:#D9D9D9;
    --ln-D2-purple:#8574A6;
    --ln-D3-purple:#47366B;
    --ln-D4-purple:#312152;
    --ln-D5-purple:#1E1433;
    --ln-D6-purple:#120C1F;

    --ln-red: #FF8C8E;
    --ln-orange: #FFAC80;
    --ln-yellow: #FFEA80;
    --ln-green: #8AE599;
    --ln-cyan: #73E5E5;
    --ln-blue: #7399E5;
    --ln-pink: #E391E5;
}

.hljs {
    display: block;
    overflow-x: auto;
    text-wrap: wrap;
    padding: 0.5em;
    box-shadow: 0 0 0.5rem 0rem var(--ln-pink);
    --sel-back: var(--ln-D3-purple);
  }

code.hljs{
    font-size: 0.8em;
}

code.hljs *{
    font-size: inherit;
}

code.hljs, code.hljs *{
    --hl-color: var(--ln-D1-purple);
    color: var(--hl-color) !important;
    --sel-back: var(--ln-D2-purple);
    --sel-fore: var(--ln-D4-purple);
    --sel-shadow-one: var(--ln-D2-purple);
    --sel-shadow-two: var(--hl-color);
}


code:not(.hljs) {
    background: var(--ln-D5-purple);
    padding: 0.25em;
    filter: drop-shadow(0 0 0.1em var(--ln-pink));
    border-radius: 0.25em
}

.token.keyword {
    --hl-color: var(--ln-pink);
}

.token.operator, .token.punctuation {
    --hl-color: var(--ln-cyan);
}

.token.comment {
    --hl-color: var(--ln-D2-purple);
}

.token.number{
    --hl-color: var(--ln-orange);
}

.token.string{
    --hl-color: var(--ln-green);
}

.token.property-access{
    --hl-color: var(--ln-yellow);
}

.token.property{
    --hl-color: var(--ln-yellow);
}

.token.function{
    --hl-color: var(--ln-yellow);
}

.token.method{
    --hl-color: var(--ln-blue);
}

.token.class-name{
    --hl-color: var(--ln-blue);
}

.token.parameter{
    --hl-color: var(--ln-orange);
}

.token.constant{
    --hl-color: var(--ln-pink);
}