
:root{
    --sam-green: #69eb96;
    --sam-pink: #eb69d7;
    --pale-pink: #ebd3e7;
    --pale-green: #d3ebdb;
    --extra-dark-bg: #100f12;
    --dark-background: #18161A;
    --heart-mid-shadow: #1C1B1F;
    --lighter-dark: #242226;
}

body{
    font-family: Helvetica, sans-serif;
    margin-left: 0;
    margin-right: 0;
    --hbg-svg: url("/assets/HeartBackground.svg") !important;
    background-image: url("/assets/HeartBackground.svg") !important;
    background-size: 200px;
    background-position: 0 0;
    background-repeat: repeat;
    background-attachment: local;
    margin-top: 0;
    font-size: 1.25rem;
    color: var(--pale-pink);
}

.hbg {
    background-image: var(--hbg-svg);
    background-size: 200px;
    background-position: 0 0;
    background-repeat: repeat;
    background-attachment: local;
}

.hbg-outline{
    background-image: url("/assets/HeartBackgroundBlurred.png") !important;
    background-size: 200px;
    background-position: 0 0;
    background-repeat: repeat;
    background-attachment: local;
    position: relative;
}

.hbg-outline::before {
    background-image: var(--hbg-svg);
    background-size: 200px;
    --gradWidth: 6px;
    background-position-x: calc(var(--bg-x) + var(--gradWidth)/2);
    background-position-y: calc(var(--bg-y) + var(--gradWidth)/2);
    background-repeat: repeat;
    background-attachment: local;
    z-index: -1;
    content: "";
    position: absolute;
    left: calc(-1 * var(--gradWidth)/2);
    top: calc(-1 * var(--gradWidth)/2);
    width: calc(100% + var(--gradWidth));
    height: calc(100% + var(--gradWidth));
    border-radius: calc(var(--this-border-radius) + var(--gradWidth) / 2);
}

::-moz-selection { /* Code for Firefox */
    background: var(--pale-green);
    color: var(--dark-background);
}

::selection {
    background: var(--pale-green);
    color: var(--dark-background);
}

.blurry{
    backdrop-filter: blur(5px);
}

h1 {
    font-size: 4rem;
}

h2{
    font-size: 3rem;
}

hr {
    width: 100%;
    border: none;
    border-bottom: solid var(--pale-pink);
}

center {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

#navbar{
    background-image: url("/assets/HeartBackgroundBlurred.png") !important;
    background-size: 200px;
    background-position: 0 0;
    background-repeat: repeat;
    background-attachment: local;
    box-shadow: 0 0 1rem 0rem var(--sam-green);
    width: 100%;
    height: 3rem;
    margin-bottom: 2rem;
    top: 0;
    position: relative;
}

#intro-section{
    position: absolute;
    width: 80vw;
    left: 10vw;
    top:5vw;
    display: flex;
    align-items: center;
    flex-direction: column;;
}

#sam-pfp{
    width: calc(25% + var(--current-pfp-size));
    --current-pfp-size: 0px;
    --extra-pfp-size: 10px;
    margin-top: calc(var(--extra-pfp-size) / 2  - var(--current-pfp-size) / 2);
    border-radius: 10%;
    box-shadow: 0 0 1.5vw -0.2vw var(--sam-green);
    transition-duration: 500ms;
    margin-bottom: calc(var(--extra-pfp-size) / 2  - var(--current-pfp-size) / 2);;
}

#sam-pfp:hover{
    --current-pfp-size: var(--extra-pfp-size);
    box-shadow: 0 0 1.7vw -0.2vw var(--sam-green);
}

#intro-text{
    width: 60%;
}

.card{
    width: 100%;
    height: min-content;
    min-height: 22.5vw;
    position: relative;
    --this-border-radius: 1vw;
    border-radius: var(--this-border-radius);
    --top-color-base: var(--lighter-dark);
    --top-color-hover: var(--sam-green);
    --bottom-color-base: var(--sam-pink);
    --bottom-color-hover: var(--sam-pink);
    --backOpacity: 0;
    transition-property: padding-left, margin-left, padding-right, margin-right;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;
    background-image: url("/assets/HeartBackgroundVeryBlurred.png");
    background-size: 200px;
    background-repeat: repeat;
    /* background-origin: border-box; */
}

.card:hover{
    --backOpacity: 1;
}

.card::before{
    --gradWidth: 6px;
    content: "";
    position: absolute;
    left: calc(-1 * var(--gradWidth)/2);
    top: calc(-1 * var(--gradWidth)/2);
    width: calc(100% + var(--gradWidth));
    height: calc(100% + var(--gradWidth));
    border-radius: calc(var(--this-border-radius) + var(--gradWidth) / 2);
    background: linear-gradient(180deg, var(--top-color-base) 0%, var(--bottom-color-base) 100%);
    z-index: -2;
}

.card::after{
    --gradWidth: 6px;
    content: "";
    position: absolute;
    left: calc(-1 * var(--gradWidth)/2);
    top: calc(-1 * var(--gradWidth)/2);
    width: calc(100% + var(--gradWidth));
    height: calc(100% + var(--gradWidth));
    border-radius: calc(var(--this-border-radius) + var(--gradWidth) / 2);
    background: linear-gradient(180deg, var(--top-color-hover) 0%, var(--bottom-color-hover) 100%);
    z-index: -1;
    opacity: var(--backOpacity);
    transition: opacity 0.25s;
}

#main-content{
    width: 70vw;
    left: 15vw;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner{
    max-width: 100%;
    max-height: 30rem;
    border-radius: 0.5rem;
    /* box-shadow: 0 0 1rem -0.2rem var(--sam-pink); */
}

#info-header{
    min-width: 80%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

#page-title{
    min-width: 70%;
    text-align: center;
    padding-bottom: .5%;
    margin-top: 1.5rem;
    margin-bottom: 0rem;
}

.project-icon{
    width: 8rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem -0.2rem var(--sam-green);
}

.project-desc{
    min-width: 80%;
}

.tag-shelf{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.tag{
    padding-left: 0.85rem;
    padding-right: 0.85rem;
    padding-top: 0.7rem;
    padding-bottom: 0.45rem;
    --extra-space: 0;
    font-size: 1.5rem;
    --this-border-radius: 2rem;
    border-radius: var(--this-border-radius);
    transition-duration: 250ms;
    transition-property: color;
    cursor: pointer;
    font-weight: bold;
    margin: 0.5rem;
    color: var(--tag-back);
    text-decoration: none;
    text-align: center;
}

.tag:hover{
    color: color-mix(in srgb, var(--tag-back), white 10%);
}

.tag::before{
    transition-duration: 250ms;
    transition-property: filter;
}

.tag:hover::before{
    filter: brightness(1.2);
}

.tag::selection{
    background: var(--tag-back);
}

.shield{
    margin: 0.5rem;
}