
:root{
    --sam-green: #69eb96;
    --sam-pink: #eb69d7;
    --pale-pink: #fce1f8;
    --pale-green: #e1fcea;
    --extra-dark-bg: #100f12;
    --dark-background: #18161A;
    --heart-mid-shadow: #1C1B1F;
    --lighter-dark: #242226;

    /* default selection colors */
    --sel-back: var(--pale-green);
    --sel-fore: var(--dark-background);
    --sel-shadow-one: var(--sam-green);
    --sel-shadow-two: var(--sam-pink);

    /* some font sizes to use so we can bump stuff up on mobile? */
    --fs-12px-ish: 0.75rem;
    --fs-14px-ish: 0.875rem;
    --fs-16px-ish: 1rem;
    --fs-20px-ish: 1.25rem;
    --fs-24px-ish: 1.5rem;
    --fs-32px-ish: 2rem;
    --fs-48px-ish: 3rem;
    --fs-64px-ish: 4rem;
}

body{
    font-family: Helvetica, sans-serif;
    margin-left: 0;
    margin-right: 0;
    --hbg-svg: url("./assets/HeartBackground.svg") !important;
    background-image: url("./assets/HeartBackgroundDarker.png") !important;
    background-color: var(--extra-dark-bg);
    background-size: 200px;
    background-position: 0 0;
    background-repeat: repeat;
    background-attachment: local;
    margin-top: 0;
    min-height: 100vh;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
}

* {
    color: var(--pale-pink);
    font-size: var(--fs-16px-ish);
}

p{
    line-height: 1.7em;
}

blockquote{
    border-left: solid var(--sam-green) 0.25rem;
    margin-left: 0.25rem;
    padding-left: 2rem;
}

.hbg {
    background-image: var(--hbg-svg);
    background-size: 200px;
    background-position: 0 0;
    background-repeat: repeat;
    background-attachment: local;
}

.hbg-blurry{
    backdrop-filter: blur(5px);
}

.hbg-blurry::before {
    background-image: var(--hbg-svg);
    background-size: 200px;
    background-repeat: repeat;
    background-position-x: var(--bg-x);
    background-position-y: var(--bg-y);
    background-attachment: local;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    content: "";
    filter: blur(5px);
}

.hbg-outline{
    background-image: url("./assets/HeartBackgroundDarkerBlurred.png") !important;
    background-size: 200px;
    background-position: 0 0;
    background-repeat: repeat;
    background-attachment: local;
    position: relative;
}

.hbg-outline::before {
    background-image: var(--hbg-svg);
    background-size: 200px;
    --gradWidth: 6px;
    background-position-x: calc(var(--bg-x) + var(--gradWidth)/2);
    background-position-y: calc(var(--bg-y) + var(--gradWidth)/2);
    background-repeat: repeat;
    background-attachment: local;
    z-index: -1;
    content: "";
    position: absolute;
    left: calc(-1 * var(--gradWidth)/2);
    top: calc(-1 * var(--gradWidth)/2);
    width: calc(100% + var(--gradWidth));
    height: calc(100% + var(--gradWidth));
    border-radius: calc(var(--this-border-radius) + var(--gradWidth) / 2);
}


::selection {
    background: var(--sel-back);
    color: var(--sel-fore);
    text-shadow: 
        0.08em -0.07em var(--sel-shadow-one), 
        0.04em -0.03em var(--sel-shadow-two), 
        -0.04em 0.03em var(--sel-shadow-two), 
        -0.12em 0.1em var(--sel-shadow-one), 
        -0.08em 0.07em var(--sel-shadow-two),
        0.08em 0.07em var(--sel-shadow-two),
        -0.08em -0.07em var(--sel-shadow-two);
}

.blurry{
    backdrop-filter: blur(5px);
}

h1 {
    font-size: var(--fs-64px-ish);
}

h2{
    font-size: var(--fs-48px-ish);
    margin-bottom: 0.3em;
    margin-top: 0.3em;
}

h3{
    font-size: var(--fs-32px-ish);
    margin-bottom: 0.1em;
}

h4 {
    font-size: var(--fs-24px-ish);
    margin-bottom: 0.25em;
    margin-top: 0.75em;
}

hr {
    width: 100%;
    border: none;
    border-bottom: solid var(--pale-pink);
}

li::marker{
    content: '♥︎ ';
    font-size: 1.25em;
}

center {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

a {
    color: var(--sam-green);
}

nav{
    background-image: url("./assets/HeartBackgroundDarkerBlurred.png") !important;
    background-size: 200px;
    background-position: 0 0;
    background-repeat: repeat;
    background-attachment: local;
    box-shadow: 0 0 1rem 0rem var(--sam-green);
    width: 100%;
    height: min-content;
    margin-bottom: 2rem;
    top: 0;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.nav-link{
    --gradWidth: 2px;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 0.35rem;
    padding-bottom: 0.2rem;
    border-radius: 3px;
    color: var(--lighter-dark);
    text-shadow: 1px 1px 1px var(--theme-light),
         -1px -1px 1px var(--theme-light);
    font-size: var(--fs-24px-ish);
    text-decoration: none;
    font-weight: bold;
    margin-left: 16px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

#leg{
    flex-grow: 2000;
}

footer{
    background-image: url("./assets/HeartBackgroundDarkerBlurred.png") !important;
    background-size: 200px;
    background-position: 0 0;
    background-repeat: repeat;
    background-attachment: local;
    box-shadow: 0 0 1rem 0 var(--sam-pink);
    width: 100%;
    height: 2rem;
    margin-top: 4rem;
    margin-bottom:0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer *{
    font-size: var(--fs-12px-ish);
}

#main-content{
    width: 80vw;
    left: 10vw;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.banner{
    max-width: 100%;
    max-height: 20rem;
    border-radius: 0.5rem;
    /* box-shadow: 0 0 1rem -0.2rem var(--sam-pink); */
}

#info-header{
    min-width: 80%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

#page-title{
    min-width: 70%;
    text-align: center;
    padding-bottom: .5%;
    margin-top: 1.5rem;
    margin-bottom: 0;
}

#tag-description{
    margin-bottom: 1.5rem;
    text-align: center;
}

.project-icon{
    width: 8rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem -0.2rem var(--sam-green);
}

.project-desc{
    width: fit-content;
    position: relative;
    max-width: min(50rem, 95vw);
    padding-left: 20px;
    padding-right: 16px;
}

.tag-shelf{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.tag{
    padding-left: 0.6em;
    padding-right: 0.6em;
    padding-top: 0.4em;
    padding-bottom: 0.25em;
    --extra-space: 0;
    font-size: var(--fs-20px-ish);
    --this-border-radius: 2em;
    border-radius: var(--this-border-radius);
    transition-duration: 250ms;
    transition-property: color;
    cursor: pointer;
    font-weight: bold;
    margin: 0.5em;
    color: var(--theme-light);
    text-decoration: none;
    text-align: center;
}

.tag:hover{
    color: color-mix(in srgb, var(--theme-light), white 10%);
}

.tag::before{
    transition-duration: 250ms;
    transition-property: filter;
}

.tag:hover::before{
    filter: brightness(1.2);
}

.tag::selection{
    background: var(--theme-light);
    text-shadow: none;
}

.shield{
    margin: 0.5rem;
}

.quatalink{
    color:#F5B540;
}

.quatalink-icon{
    height: 1.3em;
    position: relative;
    top: 0.35em;
}

.flex-spacer{
    width: 100%;
    height: 100%;
    flex-grow: 50;
}

@media (width <= 81rem) {

    #main-content{
        left: 5vw;
        width: 90%;
    }
}


@media (width <= 60rem) {

    #main-content{
        width: 95%;
        left: 2.5vw;
    }
}

.ogLink{
    width: fit-content;
    max-width: 20rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin:1rem;
    height: fit-content;
}

.ogLink:has(img){
    width: min-content;
}

.ogLink img{
    aspect-ratio: auto;
    max-width: 15rem;
    border-radius: inherit;
    max-height: 15rem;
    height: auto;
}

.ogLink p{
    padding-left: 1rem;
    padding-right: 1rem;
    font-style: italic;
}

.glitchy-text{
    color: var(--sel-fore);
    text-shadow: 
        0.08em -0.07em var(--sel-shadow-one), 
        0.04em -0.03em var(--sel-shadow-two), 
        -0.04em 0.03em var(--sel-shadow-two), 
        -0.12em 0.1em var(--sel-shadow-one), 
        -0.08em 0.07em var(--sel-shadow-two),
        0.08em 0.07em var(--sel-shadow-two),
        -0.08em -0.07em var(--sel-shadow-two);
}

.music-embed{
    height: min-content;
    margin: 1rem;
}

.music-embed iframe{
    border-radius: inherit;
}