
#intro-section{
    position: relative;
    width: 100%;
    left: 0;
    top: 2vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 4rem;
}

#sam-pfp{
    width: calc(20rem + var(--current-pfp-size));
    max-width: calc(75% + var(--current-pfp-size));
    --current-pfp-size: 0px;
    --extra-pfp-size: 10px;
    border-radius: 10%;
    box-shadow: 0 0 1.5rem -0.2rem var(--sam-green);
    transition-duration: 500ms;
    margin: calc(2rem + var(--extra-pfp-size) / 2  - var(--current-pfp-size) / 2);
}

#sam-pfp:hover{
    --current-pfp-size: var(--extra-pfp-size);
    box-shadow: 0 0 1.7rem -0.2rem var(--sam-green);
}

#intro-text{
    width: fit-content;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    --top-color-base: var(--sam-green);
    display: flex;
    flex-direction: column;
    align-items: center;
}

li{
    margin-bottom: 1.5%;
}

.main-page-section{
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 80%;
    position: relative;
}

.main-page-section h2{
    text-align: center;
}


#social-links{
    margin-top:auto;
    display: flex;
    flex-direction: row;
    align-items:end;
    padding-top: 0.5rem;
}

#social-links a {
    margin-bottom:0;
    height:min-content;
    display:flex;
}

#social-links a svg{
    bottom: 0;
    width: 2.5rem;
    margin-right: 0.5rem;
    fill: var(--pale-green);
    transition-duration: 250ms;
    transition-property: fill;
}

#social-links a:hover svg{
    fill: var(--sam-green);
}

ul{
    margin-bottom: 0;
}