{% extends "page.njk" %}

{% block header %}
    {# {% if project.icon %}
        <link rel="icon" type="image/x-icon" href="https://samsthenerd.com/assets/{{ project.icon }}">
    {% else %}
        <link rel="icon" type="image/x-icon" href="/assets/pfp.png">
    {% endif %} #}
    <link rel="icon" type="image/x-icon" href="/assets/pfp.png">
    <meta property="og:title" content="{{ project.name }} -- Sam's Work" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://samsthenerd.com/projects/{{ project.id }}" />
    {% if project.keyart %}
        <meta property="og:image" content="https://samsthenerd.com/assets/{{ project.keyart }}" />
    {% else %}
        {% if project.banner %}
            <meta property="og:image" content="https://samsthenerd.com/assets/{{ project.banner }}" />
        {% else %}
            {% if project.icon %}
                <meta property="og:image" content="https://samsthenerd.com/assets/{{ project.icon }}" />
            {% endif %}
        {% endif %}
    {% endif %}
    <meta property="og:description" content="{{ project.summary }}" />
    <link rel="stylesheet" href="/articles.css">
{% endblock %}

{% block title %}{{ project.name }}{% endblock %}

{% block maincontent %}
    {% if project.banner %}
        {{ project.banner | mkImg("banner") }}
    {% endif %}
    <div id="info-header">
        {% if project.icon and not project.banner %}
            {{ project.icon | mkImg("project-icon") }}
        {% endif %}
        <h1 id="page-title">{{ project.name}}</h1>
        {% if project.author and project.type == "blog" %}
            <h4 id="author-shelf">{{ project.author }}</h4>
        {% endif %}
        {% if project.date %}
            <h4 id="date-shelf">{{ project.date.toLocaleString('en-US', { timeZone: 'EST' }) }}</h4>
        {% endif %}
        {# <hr> #}
        <div class="tag-shelf">
            {% for tagId in project.tags %}
                {{ tagId | mkTag }}
            {% endfor %}
        </div>
        <hr>
    </div>
    <div class="project-desc">
        {{ project.content }}
    </div>
{% endblock %}