{% macro mkProjCard(project) %}
<div class="card-container-wrapper"> 
<a class="project-card card bgsync" href="/projects/{{ project.id }}">
    {% if project.keyart %}
        <div class="proj-card-keyart-holder">
            {{ project.keyart | mkImg("project-card-keyart") }}
        </div>
    {% endif %}
    {% if project.icon and not project.keyart %}
        {{ project.icon | mkImg("project-card-icon") }}
    {% endif %}
    {% if project.banner and not project.keyart and not project.icon %}
        {{ project.banner | mkImg("project-card-keyart") }}
    {% endif %}
    <div class="project-card-body">
        <h4 class="project-card-title">{{ project.name }}</h4>
        <p class="project-card-summary">{{ project.description }}</p>
    </div>
</a>
</div>
{% endmacro %}


{% macro mkPostCard(post) %}
<div class="card-container-wrapper"> 
<a class="project-card post-card card bgsync" href="/articles/{{ post.id }}">
    {% if post.banner %}
        <div class="proj-card-keyart-holder">
            {{ post.banner | mkImg("project-card-keyart") }}
        </div>
    {% endif %}
    <div class="project-card-body">
        <h4 class="project-card-title">{{ post.title }}</h4>
        <p class="project-card-date">{{ post.date.toLocaleString('en-US', { timeZone: 'EST' }) }}</p>
        <p class="project-card-summary">{{ post.description }}</p>
    </div>
</a>
</div>
{% endmacro %}