{% extends "page.njk" %}

{% block premain %}
    <div id="intro-section">
        <img id="sam-pfp" src="./assets/pfp.png">
        <h2>Sam's Portfolio</h2>
        <div id="intro-text" class="card bgsync">
            
        </div>
    </div>
{% endblock %}