{% extends "page.njk" %}

{% block stylesheets %}
    <link rel="stylesheet" href="/home.css">
{% endblock %}

{% block premain %}
    <div id="intro-section">
        {{ "pfp.png" | mkImg("", "sam-pfp")}}
        <div id="intro-text" class="card bgsync">
            
        </div>
    </div>

    <div id="featured-projects" class="main-page-section">
        <h2>Featured Projects</h2>
    </div>

    <div id="tag-browse" class="main-page-section">
        <h2>Browse By Tags</h2>
    </div>
{% endblock %}