{% extends "page.njk" %}

{% block header %}
    <link rel="icon" type="image/x-icon" href="/assets/pfp.png">
    <meta property="og:title" content="Sam's Now" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://samsthenerd.com/now" />
    {# <meta property="og:description" content="{{ project.summary }}" /> #}
    <link rel="stylesheet" href="/articles.css">
{% endblock %}

{# {% block title %}{{ project.name }}{% endblock %} #}

{% block maincontent %}
    <center><h2>What I'm up to now</h2></center>
    <center><h4><i>Last updated {{ nowestNow.date }}</i></h4></center>
    <div class="project-desc">
        {{ nowestNow.content }}
    </div>
    <h3 id="about-now">Now?</h3>
    <p>This is a <a href="https://nownownow.com/about" target="_blank">now page</a> where you can see generally what I'm up to in life. Hopefully I remember to update it from time to time! Past nows (thens if you will) can be found <a href="https://github.com/SamsTheNerd/portfolio/blob/main/static/data/nowpage.md" target="_blank">here</a></p>
{% endblock %}