<!-- this template is for the overall page structure. any sort of nav bar, backgrounds, or features that should be on every page should go in here -->
<!DOCTYPE html>
<head>
    <title>{% block title %}Sam's Work{% endblock %}</title>
    <!-- <meta property="og:title" content="Hex Additions" />
    <meta property="og:description" content="Hex-related addons, mods, and tools" />
    <meta property="og:url" content="https://hexxy.media/addons" /> -->
    {% block header %}
        <link rel="icon" type="image/x-icon" href="/assets/pfp.png">
    {% endblock %}
    <!-- <meta property="og:image" content="https://hexxy.media/addons/hexfavicon.png" />
    <meta property="og:image:alt" content="More complicated hexxy on a purple background" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="256" />
    <meta property="og:image:height" content="256" /> -->
    <!-- <meta name="theme-color" content="#221b32"> -->
    <link rel="stylesheet" href="/common.css">
    <link rel="stylesheet" href="/codehighlight.css">
    <link rel="stylesheet" href="/cards.css">

    <!-- KaTeX stylesheet -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/katex.min.css" integrity="sha384-GvrOXuhMATgEsSwCs4smul74iXGOixntILdUW9XmUC6+HX0sLNAK3q71HotJqlAn" crossorigin="anonymous">
    
    <!-- <script src="modrinth_api.js"></script> -->
    <!-- <script src="cardgen.js"></script> -->
    {% block stylesheets %}
    {% endblock %}
    <script src="/common.js"></script>
</head>
<body id="body">
    <nav id="navbar">
        <a id="home-link" class="nav-link hbg bgsync" style="--hbg-svg: {{ 'green' | themedHBG }}; {{ 'green' | themedVars }}" href="/" >Main</a>
        {# <a id="tags-link" class="nav-link hbg bgsync" style="--hbg-svg: {{ 'green' | themedHBG }}; {{ 'green' | themedVars }}" href="/tags/" >Tags</a> #}
        <a id="projects-link" class="nav-link hbg bgsync" style="--hbg-svg: {{ 'green' | themedHBG }}; {{ 'green' | themedVars }}" href="/projects/" >Projects</a>
    </nav>
    {% block premain %}{% endblock %}
    <main id="main-content">
        {% block maincontent %}{% endblock %}
    </main>
    {% block postmain %}{% endblock %}
    <div id="leg"></div> {# get it, because it's, like, pushing the foot down. #}
    <footer id="footer" class="bgsync">
        <p>
            Site last built from <a href="https://github.com/SamsTheNerd/portfolio" target="/">source</a> on {{ ctx.currentDateTime }} 
        </p>
    </footer>
</body>