<!-- this template is for the overall page structure. any sort of nav bar, backgrounds, or features that should be on every page should go in here -->
<!DOCTYPE html>
<head>
    <title>{% block title %}Sam's Work{% endblock %}</title>
    <!-- <meta property="og:title" content="Hex Additions" />
    <meta property="og:description" content="Hex-related addons, mods, and tools" />
    <meta property="og:url" content="https://hexxy.media/addons" /> -->
    {% block header %}
        <link rel="icon" type="image/x-icon" href="/assets/pfp.png">
    {% endblock %}
    <!-- <meta property="og:image" content="https://hexxy.media/addons/hexfavicon.png" />
    <meta property="og:image:alt" content="More complicated hexxy on a purple background" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="256" />
    <meta property="og:image:height" content="256" /> -->
    <!-- <meta name="theme-color" content="#221b32"> -->
    <link rel="stylesheet" href="/common.css">
    <!-- <script src="modrinth_api.js"></script> -->
    <!-- <script src="cardgen.js"></script> -->
    <script src="/common.js"></script>
    <script type="module" src="https://md-block.verou.me/md-block.js"></script>
</head>
<body id="body">
    <div id="navbar">
        <a id="home-link" class="nav-link hbg bgsync" style="--hbg-svg: {{ 'green' | themedHBG }}; {{ 'green' | themedVars }}" href="/" >Main</a>
        <a id="tags-link" class="nav-link hbg bgsync" style="--hbg-svg: {{ 'green' | themedHBG }}; {{ 'green' | themedVars }}" href="/tags/" >Tags</a>
        <a id="projects-link" class="nav-link hbg bgsync" style="--hbg-svg: {{ 'green' | themedHBG }}; {{ 'green' | themedVars }}" href="/projects/" >Projects</a>
    </div>
    {% block premain %}{% endblock %}
    <div id="main-content">
        {% block maincontent %}{% endblock %}
    </div>
    {% block postmain %}{% endblock %}
    {# <div id="footer" class="bgsync">
        <div id="last-updated">
            Last Updated {{ ctx.currentDateTime }}
        </div>
    </div> #}
</body>