{% extends "page.njk" %}
{% import "cards.njk" as cards %}

{% block title %}{{ tag.name }}{% endblock %}

{% block maincontent %}
    <h1 id="page-title">{{ tag.name}}</h1>
    {% if tag.desc %}
    <h4 id="tag-description">{{ tag.desc}}</h4>
    {% endif %}
    <div class="card-holder">
        {% for project in tag.id | getProjects %}
            {{ cards.mkProjCard(project) }}
        {% endfor %}
    </div>
    {% if (tag.id | getBlogPosts).length > 0 %}
        {% if tag.id != "posts" %}
            <h2> Changelog Posts </h2>
        {% endif %}
        <div class="post-holder">
            {% for post in tag.id | getBlogPosts %}
                {{ cards.mkPostCard(post) }}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}