{% extends "page.njk" %}
{% import "cards.njk" as cards %}

{% block title %}{{ tag.name }}{% endblock %}

{% block maincontent %}
    <h1 id="page-title">{{ tag.name}}</h1>
    {% if tag.desc %}
    <h4 id="tag-description">{{ tag.desc}}</h4>
    {% endif %}
    <div class="card-holder">
        {% for project in tag.id | getProjects | sortArticles %}
            {% if not project.hidden%}
                {{ cards.mkProjCard(project) }}
            {% endif %}
        {% endfor %}
    </div>
    {% if (tag.id | getBlogPosts).length > 0 %}
        {% if tag.id != "posts" %}
            <h2> Changelog Posts </h2>
        {% endif %}
        <div class="post-holder">
            {% for post in tag.id | getBlogPosts | sortArticles %}
                {% if not post.hidden%}
                    {{ cards.mkPostCard(post) }}
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
    <div id="tag-browse" class="main-page-section">
        <h2>Browse By Tags</h2>
        <div id="tag-list">
            {% for tagId in tags %}
                {{ tagId | mkTag }}
            {% endfor %}
        </div>
    </div>
{% endblock %}